<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mapa com Marcadores</title>
    <style>
        #map {
            height: 500px;
            width: 100%;
        }

        table {
            width: 100%;
        }

        th, td {
            padding: 8px;
            text-align: left;
        }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCEgz8tUYmCoNpmvfqw0fzmMoCptuuRkAw&callback=initMap">
    </script>
</head>
<body>
    <div id="map">
        <h1>Aqui é a página do mapa</h1>
    </div>
    <h2>Endereços</h2>
    <table>
        <tr>
            <th>Nome do Endereço</th>
            <th>Status</th>
            <th>Alterar Status</th>
        </tr>
    </table>

    <script>
        var dados = [
            {
                "Latitude": -3.111075,
                "Longitude": -60.01330,
                "Endereco": "Endereço 1",
                "Status": "A"
            },
            {
                "Latitude": -23.411075,
                "Longitude": -46.8445801,
                "Endereco": "Endereço 2",
                "Status": "A"
            },
            {
                "Latitude": -10.822249014140594,
                "Longitude": -42.725590777400825,
                "Endereco": "Endereço 3",
                "Status": "B"
            },
            {
                "Latitude": -8.042345446600377,
                "Longitude": -36.751890591635195,
                "Endereco": "Endereço 4",
                "Status": "B"
            }
        ];

        var map;
        var markers = [];

        function initMap() {
            if (map) {
                // Limpa os marcadores e a tabela se o mapa já foi inicializado
                markers.forEach(function (marker) {
                    marker.setMap(null);
                });
                markers = [];

                var table = document.querySelector('table');
                // Remove todas as linhas da tabela, exceto a primeira (cabeçalho)
                while (table.rows.length > 1) {
                    table.deleteRow(1);
                }
            }

            map = new google.maps.Map(document.getElementById('map'), {
                center: { lat: -34.397, lng: 150.644 },
                zoom: 10
            });

            var table = document.querySelector('table');

            var bounds = new google.maps.LatLngBounds();

            dados.forEach(function (item, index) {
                var markerIcon = {
                    url: item.Status === 'B' ? '/icones/icon02.webp' : '/icones/icon01.png',
                    scaledSize: new google.maps.Size(32, 32)
                };

                var marker = new google.maps.Marker({
                    position: { lat: item.Latitude, lng: item.Longitude },
                    map: map,
                    title: item.Endereco,
                    icon: markerIcon
                });
                markers.push(marker);

                bounds.extend(marker.getPosition());

                var row = table.insertRow(index + 1);

                var cell1 = row.insertCell(0);
                cell1.innerHTML = item.Endereco;

                var cell2 = row.insertCell(1);
                cell2.innerHTML = item.Status;

                var cell3 = row.insertCell(2);
                var button = document.createElement('button');
                button.innerHTML = 'Alterar';
                button.onclick = function () {
                    if (item.Status === 'A') {
                        item.Status = 'B';
                        marker.setIcon({ url: '/icones/icon02.webp', scaledSize: new google.maps.Size(32, 32) });
                    } else {
                        item.Status = 'A';
                        marker.setIcon({ url: '/icones/icon01.png', scaledSize: new google.maps.Size(32, 32) });
                    }
                    cell2.innerHTML = item.Status;
                };
                cell3.appendChild(button);
            });
            map.fitBounds(bounds);
        }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCEgz8tUYmCoNpmvfqw0fzmMoCptuuRkAw&callback=initMap">
    </script>
</body>
</html>
